.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/form.gif") no-repeat center center/cover;
    filter: brightness(1);
    z-index: -1;
}

.nav-custom {
    background: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(6px);
}

.contenedor-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.form-card {
    width: 400px;
    padding: 25px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 60px rgba(0,0,0,0.4);
}

.avatar {
    border-radius: 100px;
    border: 3px solid #fff;
    object-fit: cover;
}

/* Inputs */
.form-control {
    border-radius: 10px;
    padding: 10px;
    background: rgba(255,255,255,0.8);
}

.toggle-pass {
    cursor: pointer;
    background: #fff;
}
.footer-mini {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(5px);
    color: #eee;
}
